ol {
    background-color: yellow;
}
li:nth-of-type(odd){
    color: green;
}
li:nth-of-type(even){
    text-transform: uppercase;
}
h1, h2, h3{
    color: red;
    font-style: normal;
    font-size: 40px;
    border: 1px solid black;
}
li{
    font-size: 20px;
    
}
li em{
    font-weight: 700;
}
.linguagem-Programacao{
    background-color: blue;
}
.java {
    background-color: rgb(226, 43, 217);
}
.aliados-programacao:hover{
    font-weight: 700;
    background-color: ccc;
    color: cornsilk;
}