.title {
    color: rgb(221, 23, 23);
    font-weight: 700;
    text-align: center;
}
main{
    width: 95%;
    margin: auto;
}

div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}